<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

	<!--Define things that are to complex to implement with annotation -->

	<!-- https://logging.apache.org/log4j/2.0/manual/lookups.html#WebLookup -->
	<context-param>
		<param-name>my.log.path</param-name>
		<param-value>/tmp</param-value>
	</context-param>

</web-app>